<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Personal Information</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/ms/PersonalInformationForm.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/funcs.css">
		<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/funcs.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/ms/PersonalInformationForm.js"></script>	
	</head>
	<body>
		<div class="container-fluid"> <!-- 不能去掉这个类，包裹整个内容 -->
			<div class="navigationbar">
			    <ul class="nav nav-tabs">
			    <li role="presentation" id="sy"><a href="javascript:void(0)">首页</a></li>
			    <li role="presentation" class="active" id="gr"><a href="javascript:void(0)">个人信息管理</a></li>
			    <if condition="I('cookie.type') eq 1">
			        <li role="presentation" id="dj"><a href="javascript:void(0)">登记空闲时间</a></li>
			        <li role="presentation" id="sx"><a href="javascript:void(0)">上下班登记</a></li>
			    <else />
			        <li role="presentation" id="gl"><a href="javascript:void(0)">管理助理</a></li>
			        <li role="presentation" id="js"><a href="javascript:void(0)">结算工时</a></li>
			        <li role="presentation" id="zl"><a href="javascript:void(0)">助理排班</a></li>
			    </if>
				<li role="presentation"><a href="javascript:void(0)">查看排班表</a></li>
			    <li role="presentation"><a href="javascript:void(0)">退出</a></li>
			    </ul>
			</div>
			<div class="content"> <!-- 不能去掉这个类，包裹除了导航栏之外的内容 -->
					<div id="assure">
						<form id="assureform">
							<div>
								<p id="ass">请输入您的密码:</p>
								<input name="passwd" type="password" id="asspassword">
							</div>
				  			<button class="btn btn-lg btn-primary btn-block"  id="confirm" type="button">确认</button>
						</form>
					</div>
					<div id="PersonalInformationForm" class="panel panel-success">
						<div class="panel-heading">个人信息</div>
						<div class="panel-body">
							<form id="infoform">
								<table>
									<!-- <tr>
										<th>性别:</th>
										<td>
											<input type="radio" name="sex" value="male" id="male"><label for="male">男</label>
											<input type="radio" name="sex" value="female" id="female"><label for="female">女</label>
										</td>
									</tr>
									<tr>
										<th>生日:</th>
										<td>
											<select>
												<option>年</option>
												<option value="2016">2016</option>
												<option value="2015">2015</option>
											</select>
											<select>
												<option>月</option>
												<option value="1">1</option>
												<option value="2">2</option>
											</select>
											<select>
												<option>日</option>
												<option value="1">1</option>
												<option value="2">2</option>
											</select>
										</td>
									</tr> -->
									<if condition="I('cookie.type') eq 1">
									<tr>
										<th><label for="department">部门:</label></th>
										<td>
											<div class="input-group">
			  									<input name="department" type="text" id="department" class="form-control" aria-describedby="basic-addon1">
											</div>
										</td>
									</tr>
									</if>
									<tr>
										<th><label for="account">账号:</label></th>
										<td>
											<div class="input-group">
							  					<input name="account" type="text" id="account" class="form-control" aria-describedby="basic-addon1">
											</div>
										</td>
									</tr>
									<tr>
										<th><label for="name">姓名:</label></th>
										<td>
											<div class="input-group">
						  					<input name="name" type="text" id="name" class="form-control" aria-describedby="basic-addon1">
											</div>
										</td>
									</tr>
									<tr>
										<th><label for="phone">电话:</label></th>
										<td>
											<div class="input-group">
						  					<input name="phone" type="text" id="phone" class="form-control" aria-describedby="basic-addon1">
											</div>
										</td>
									</tr>
									<tr>
										<th><label for="mail">邮箱:</label></th>
										<td>
											<div class="input-group">
						  					<input name="email" type="text" id="email" class="form-control" aria-describedby="basic-addon1">
											</div>
										</td>
									</tr>
									<tr id="pas">
								<th><label for="password">新密码<span class="optional">*</span>:</label></th>
								<td>
									<div class="input-group">
				  					<input name="passwd" type="password" id="password" class="form-control" aria-describedby="basic-addon1">
				  					<p id="err0">密码长度必须超过8</p>
									</div>
								</td>
							</tr>
							<tr id="au_pas">
								<th><label for="au_password">确认密码<span class="optional">*</span>:</label></th>
								<td>
									<div class="input-group">
				  					<input name="au_password" type="password" id="au_password" class="form-control" aria-describedby="basic-addon1">
				  					<p id="err">两次输入的密码不一致</p>
									</div>
								</td>
							</tr>
								</table>
								<div class="save">
						  		<button class="btn btn-lg btn-primary btn-block" id="savepersonalinfo" type="button"></button>
								</div>
							</form>
						</div>
					</div>
			</div> <!-- 不能去掉这个类，包裹除了导航栏之外的内容 -->
				
		</div> <!-- 不能去掉这个类，包裹整个内容 -->
		
	</body>
</html>