<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>登陆</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/ms/LoginInForm.css">
		<!-- <link rel="stylesheet" type="text/css" href="funcs.css"> -->
		<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/funcs.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/ms/LoginInForm.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="alert alert-danger alert-dismissible sr-only" role="alert">
			  <p id="danger-word"></p>
			</div>

			<div id="LoginIn">
				<div id="LoginInForm">
					<form>
						<div id="system_p">
							<p style="text-align:center">勤工俭学助理工作管理系统</p>
						</div>
						<div class="input-group" id="account-group">
			  			<span class="input-group-addon" id="basic-addon1"><label for="account">账号</label></span>
			  			<input name="id" type="text" id="account" class="form-control" placeholder="学号/工号" aria-describedby="basic-addon1">
						</div>
						<div class="input-group">
			  			<span class="input-group-addon" id="basic-addon2"><label for="password">密码</label></span>
			  			<input name="passwd" type="password" id="password" class="form-control" aria-describedby="basic-addon2">
						</div>
						<div id="choose_iden">
							<input type="radio" name="type" value="1" id="assistant"><label for="assistant">助理</label>
							<input type="radio" name="type" value="2" id="manager"><label for="manager">管理员</label>
						</div>
						<div id="signinbutton">
			  			<button class="btn btn-lg btn-primary btn-block" type="button">登录</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>