<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>上下班登记</title>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/funcs.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/ms/WorkRegister.css">
        <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/funcs.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/ms/WorkRegister.js"></script> 

    </head>
    <body>
        <div class="container-fluid">
            <div class="navigationbar">
                <ul class="nav nav-tabs">
                <li role="presentation" id="sy"><a href="javascript:void(0)">首页</a></li>
                <li role="presentation" id="gr"><a href="javascript:void(0)">个人信息管理</a></li>
                <if condition="I('cookie.type') eq 1">
                    <li role="presentation" id="dj"><a href="javascript:void(0)">登记空闲时间</a></li>
                    <li role="presentation" class="active" id="sx"><a href="javascript:void(0)">上下班登记</a></li>
                <else />
                    <li role="presentation" id="gl"><a href="javascript:void(0)">管理助理</a></li>
                    <li role="presentation" id="js"><a href="javascript:void(0)">结算工时</a></li>
                    <li role="presentation" id="zl"><a href="javascript:void(0)">助理排班</a></li>
                </if>
                <li role="presentation"><a href="javascript:void(0)">查看排班表</a></li>
                <li role="presentation"><a href="javascript:void(0)">退出</a></li>
                </ul>
            </div>
            <div class="content">
                <div class="panel panel-success" id="WorkRegisterTable">
                    <div class="panel-heading">上下班登记</div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Weekday</th>
                                    <th>Worktime</th>
                                    <th>On-work</th>
                                    <th>Off-work</th>
                                </tr>
                            </thead>
                            <tbody id="tbo">
                            </tbody>
                    </table>
        <!--            <div id="register_button">
                        <button class="btn btn-lg btn-primary btn-block" id="onwork" type="submit">上班</button>
                        <button class="btn btn-lg btn-primary btn-block" id="offwork" type="submit">下班</button>
                        </div> -->
                    </div>
                </div>
            </div><!-- content -->
        </div><!-- container-fluid -->
        
    </body>
</html>